<div class="homepage">
    <p class="title">timbot  <img class="icon" src="favicon.ico"></img></p>
    <p class="desc">discord bot on steroids<a class="button is-info" href="https://youtu.be/dQw4w9WgXcQ">.</a></p>
</div>